@import url("https://p.typekit.net/p.css?s=1&k=isk2wgo&ht=tk&f=37550.37551.41334.41346&a=70548432&app=typekit&e=css");

@font-face {
font-family:"raleway-v20-deprecated";
src:url("https://use.typekit.net/af/df3220/00000000000000007735c160/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/df3220/00000000000000007735c160/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/df3220/00000000000000007735c160/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;
}

@font-face {
font-family:;
src:url("https://use.typekit.net/af/01a8d9/00000000000000007735c151/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("woff2"),url("https://use.typekit.net/af/01a8d9/00000000000000007735c151/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("woff"),url("https://use.typekit.net/af/01a8d9/00000000000000007735c151/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:900;
}

@font-face {
font-family:"chapman";
src:url("https://use.typekit.net/af/a876be/00000000000000007735b777/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/a876be/00000000000000007735b777/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/a876be/00000000000000007735b777/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:700;
}

@font-face {
font-family:"chapman";
src:url("https://use.typekit.net/af/6e3b11/00000000000000007735b786/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/6e3b11/00000000000000007735b786/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/6e3b11/00000000000000007735b786/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;
}

.tk-raleway-v20-deprecated { font-family: "raleway-v20-deprecated",sans-serif; }
.tk-chapman { font-family: "chapman",sans-serif; }


.inline-block{
    display: inline-block;
    vertical-align: top;
}

.logo{
    width: 50px;
    padding: 1%;
    text-align: center;
}

nav{
    width: 73%;
    padding: 1%;
}

ul{
    width: 50%;
    margin-right:auto ;
    list-style-type: none;
}

li{
    display: inline-block;
    width: 80px;
    font-family: "raleway-v20-deprecated";
}

.hero{
    height: 600px;
    padding: 25px;
    
}

.content{
    width: 750px;
    margin: 0 auto;
}

h1{
    font-size: 64px;
    font-family: "chapman";
}

.content p{
    font-size: 18px;
    font-family: "raleway-v20-deprecated";
}

footer{
    background-color:#333333;
    color: white;

}